* {
    margin: 0;
    padding: 0;
  }
.logo {
    display: block;
    padding-top: 170px;
    margin-left: auto;
    margin-right: auto;
}
.search {
    border: 1px solid rgb(209, 209, 209);
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 40px;
    border-radius: 25px;
    padding-left: 30px;
}
.search:hover {
    box-shadow: 0 0 3px rgb(194, 194, 194);
}
.buttons {
    margin-top: 10px;
    display: block;
    text-align: center;
}
.bt1 {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    color: rgb(94, 93, 93);
    background-color: rgb(233, 233, 233);
    width: 150px;
    margin-right: 5px;
    height: 30px;
    font-size: 11pt;
}
.bt1:hover{
    color: black;
}
.bt2 {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    color: rgb(94, 93, 93);
    background-color: rgb(233, 233, 233);
    width: 150px;
    margin-left: 5px;
    height: 30px;
    font-size: 11pt;
}
.bt2:hover{
    color: black;
}
a {
    color: #5f6368;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
  }
.topnav ul {
    list-style-type: none;
    background-color: #fff;
    padding-top: 15px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    position: fixed;
}
li.topleft {
    float: left;
    padding: 10px 5px;
    margin-left: 20px;
}
li.topright {
    float: right;
    padding: 10px 5px;
    text-align: left;
    margin-right: 20px;
}
.bottomnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(207, 207, 207);
}
li.bottomleft {
    float: left;
    padding: 10px 10px 15px 10px;
    color: #5f6368;
}
li.bottomright {
    float: right;
    padding: 10px 20px 15px 10px;
    text-align: left;
}
